@import url('/styles/keyframes.css');

h1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 60px;
  color: blueviolet;
  font-weight: bold;
  position: center;
  padding: 15px;
}


ul {
    padding: 25px;

}

.profile-img {
    width: 300px;
    height: 200px;   
    position: relative;
}
.about-me {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
font-weight: 400;
padding: 25px;
animation-name: about;
}
@keyframes about {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.projects {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
cursor: pointer;
box-sizing: inherit;
padding-bottom: 1em; 
padding: 25px;
border: 2px solid rgb(79, 185, 227);
}


.social-media {
padding: 25px; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
font-size: 20px;
border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 500;
}